<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197145884770-fithnu0u3nnb2trtmm972q9malm41oc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197145884770-fithnu0u3nnb2trtmm972q9malm41oc4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>197145884770-7putce3recl97snbfbd25ksg24v4e0ti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCq8d-n174g31fRFN2Y5dgJqmIVva7TSGM</string>
	<key>GCM_SENDER_ID</key>
	<string>197145884770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.com.uvassessment</string>
	<key>PROJECT_ID</key>
	<string>uv-monitor-c139e</string>
	<key>STORAGE_BUCKET</key>
	<string>uv-monitor-c139e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197145884770:ios:d6d18a2d1441c5dcc4f93b</string>
	<key>DATABASE_URL</key>
	<string>https://uv-monitor-c139e.firebaseio.com</string>
</dict>
</plist>